* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.workspaces {
    margin-top: 0px;
    align-items: center;
    background-color: #000;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.workspaces-title {
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 25px;
    padding-top: 50px;
    text-align: center;
}

.WorkspaceList {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    justify-content: center;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.WorkspaceList::-webkit-scrollbar {
    display: none;
}

.Workspaces_info {
    display: inline-block;
    background-color: #303245;
    margin-left: 5px;
    margin-right: 5px;
}

.Workspaces_name {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.Workspaces-button {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    width: 250px;
}

.createWorkspace-link {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}