.main{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: left;
}

.members-container {
    display: inline-block;
    height: 93vh;
    width: 83%;
    transform: translate(20.5%, 7vh);
    position: fixed;
    text-align: center;
}

.memberList {
    margin-top: 20px;
}