.main{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: left;
}

.user-settings-container {
    display: inline-block;
    height: 80%;
    width: 83%;
    margin-left: 17%;
    margin-top: 8%;
    text-align: center;
}

.user-settings-button {
    background-color: green;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 8px;
    font-weight: 600;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    width: 60px;
}

.user-leave-button {
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 8px;
    font-weight: 600;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    width: 60px;
}