.main{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: left;
}

.workspace-settings-container {
    display: flex;
    height: 93vh;
    width: 83%;
    transform: translate(20.5%, 7vh);
    position: fixed;
}

.workspace-edit-button {
    background-color: green;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    text-align: center;
    width: 90px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.role-edit-button {
    background-color: green;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    text-align: center;
    width: 60px;
    margin-left: 5px;
}

.workspace-delete-button {
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    text-align: center;
    width: 90px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-delete-button {
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    text-align: center;
    width: 60px;
    margin-left: 5px;
}

.workspace-invite-button {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    width: 90px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.workspace-settings-form {
    margin-top: 20px;
}

.workspace-settings-left {
    display: inline-block;
    /* border-width: 3px;
    border-style: solid;
    border-color: red; */
    height: 80vh;
    width: 45%;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
}

.workspace-settings-right {
    display: inline-block;
    /* border-width: 3px;
    border-style: solid;
    border-color: blue; */
    height: 80vh;
    width: 45%;
    margin-left: 3%;
    text-align: center;
    transform: translate(0, 6vh);
}

.memberList {
    list-style-type: none;
}

.member_info {
    display: flex;
}

.table-container {
    text-align: center;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.workspace-settings-table {
    background-color: white;
    margin-top: 10px;
    width: 100%;
    border-spacing: 0px 10px;
    border-radius: 12px;
}

.workspace-settings-thead {

}

.workspace-settings-tbody {

}

.workspace-settings-tr {
    margin-top: 3px;
}

.edit-container {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
}

.invite-container {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
}

.delete-container {
    display: block;
    background-color: white;
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
}

.workspace-settings-title {
    margin-top: 10px;
}

.workspace-settings-ic1 {
    margin-top: 10px;
}

.workspace-settings-ic2 {
    margin-top: 10px;
}

.workspace-settings-input {
    font-size: 15px;
}

.workspace-settings-textarea {
    font-size: 15px;
    width: 300px;
    height: 45px;
}

.select-role{
    height: 22px;
    width: 160px;
    padding: 4px 20px 0;
    text-align: center;
}

.setting_img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
}