.main{
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: left;
}

.workspace-settings-container {
    display: inline-block;
    height: 93vh;
    width: 83%;
    transform: translate(20.5%, 7vh);
    position: fixed;
    text-align: center;
}

.workspace-edit-button {
    background-color: green;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    width: 60px;
    margin-left: 5px;
}

.workspace-delete-button {
    background-color: red;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    width: 60px;
    margin-left: 5px;
}

.workspace-invite-button {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    width: 60px;
}

.workspace-settings-form {
    margin-top: 20px;
}