.home-div {
    background-color: #15172b;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.home-title {
    color: #eee;
    font-size: 100px;
    font-weight: 600;
    margin-top: 200px;
}

.home-subtitle {
    color: #eee;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 100px;
}

.signup-link {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.login-link {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    position: fixed;
}